/* .col{
display: flex;
flex-direction: column;
height: 930px
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid blue;
    flex-basis: 100%;
    margin: 5px;
}
.title{
    height:100px;
    background-color: aqua;
}
.num{
    display: flex;
    flex-direction: row;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dnum{
    height:300px;
}
.dpic{
    height: 200px;
}
.nums{
    border: 1px solid red;
    margin: 3.5px;
    flex-basis: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
    background-color: transparent;
    border-radius: 20%;
}
.nums:hover{
    background-color: orange;
    cursor: pointer;
    order: solid 1px #CCC;
    -moz-box-shadow: 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 0px #999;
    box-shadow: 6px 6px 0px #999
    /* height: 100%; */
/* } */
/* .dnum{
    display: flex;
    flex-direction: row;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dis_num{
    border: 1px solid royalblue;
    margin: 1px;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
    background-color: orange;
    border-radius: 20%;
}
.dis_op {
    flex-basis: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
}

.dpic{
    display: flex;
    flex-direction: row;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dis_pic{
    border: 1px solid royalblue;
    margin: 1px;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
    border-radius: 20%;
}
.btn{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 15%;
}
.clear{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    width: 20%;
    text-align: center; 
    line-height: 50px;
    font-size: x-large;
    
 
    /* color: black; /* Text color */
        
    /* background-color:#0099CC; /* Remove background color */
/*         
    border: 2px solid #0099CC; /* Border thickness, line style, and color */
        
    /* border-radius: 5px; /* Adds curve to border corners */
/*         
    text-transform: uppercase; /* Make letters uppercase */
        
     */ */ */
/* } */
/* .clear:hover{
    background-color: transparent;
} */ */ */ */ */











.col{
    display: flex;
    flex-direction: column;
    /* height: 930px */
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        /* border: 1px solid blue; */
        flex-basis: 100%;
        margin: 5px;
    }
    .title{
        height:100px;
        background-color: aqua;
        font-weight: bolder;
        font-size: 50px;
    }
    .num{
        padding: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .nums{
        outline: 0;
        position: relative;
        border: 0;
        border: 1px solid black;
        color: #495069;
        background-color: 4px;
        width: 60px;
        height: 60px;
        margin: 5px;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-decoration: None;
    }
    .nums:hover{
        background-color: orange;
        cursor: pointer;
        order: solid 1px #CCC;
        -moz-box-shadow: 5px 5px 0px #999;
        -webkit-box-shadow: 5px 5px 0px #999;
        box-shadow: 6px 6px 0px #999;
       
    }
    .quiz,.expl,.q{
        position: relative;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .q_box,.r_box{
        /* border: 1px solid royalblue; */
        margin: 1px;
        flex-basis: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: bolder;
        font-size: 100px;
        border-radius: 20%;
    }
    .re{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        margin: 100px;
    }
    img{
        width: 200px;
        height: 200px;
    }
   